
.ex-1-square{
  transition: background-color linear .75s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition: width linear .75s;
}

.ex-2-square:active{
  width:100%;
}

.ex-3-square{
  transition: border-radius linear .75s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: opacity linear .75s;
}

.ex-4-square:hover{
  opacity:0;
}

.ex-5-square{
  transition:transform linear .75s;
}

.ex-5-square:hover{
  transform:scale(2)
}

.ex-5-square:active{
  transform:scale(.5)
}

.ex-6-img{
  transition: filter linear .75s;
}

.ex-6-img:hover{
  filter:grayscale(100%);
}

.ex-7-img{
  transition:filter linear .75s;
}

.ex-7-img:hover{
  filter:drop-shadow(10px 10px 10px) brightness(50%);
}

.ex-8-img{
  transition:all linear .75s;
}

.ex-8-img:hover{
  border-radius:100%;
  filter:hue-rotate(180deg) contrast(50%);
}

.ex-9-img{
  transition:all linear .75s;
}

.ex-9-img:hover{
  transform:scale(1.5);
  filter:drop-shadow(10px 10px 15px) hue-rotate(180deg);
  border-radius: 100%;
}

.ex-10-icon{
  animation: rotate .5s linear infinite;
}

@keyframes rotate {
  100%{transform: rotate(360deg);}
}


.ex-11-icon:hover{
  animation: oldPhoneStyle 2s linear infinite ;
}

@keyframes oldPhoneStyle {
  10%{transform:rotate(0deg)}
  25%{transform:rotate(90deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(270deg)}
  100%{transform:rotate(0)}
}

.ex-12-top-white{
  animation: lateralSlideTop 1s linear infinite;
}

.ex-12-bottom-white{
  animation: lateralSlideBottom 1s linear infinite;
  }

@keyframes lateralSlideTop {
  0%{left:10%}
  25%{left:30%}
  50%{left:50%}
  75%{left:30%}
  100%{left:10%}
}

@keyframes lateralSlideBottom{
  0%{right:10%}
  25%{right:30%}
  50%{right:50%}
  75%{right:30%}
  100%{right:10%}
}

.ex-13-top-white{
  animation: borderRotationTop 5s linear infinite ;
  /* DEBUG:*/
  /* background-color: green; */
}

.ex-13-bottom-white{
  background-color: green;

  /* animation: borderRotationBottom 5s linear infinite ; */
}

@keyframes borderRotationTop {
  0%{top:-10px;left:10%;}
  25%{top:-10px; left:75%;}
  35%{top:55px; left:75%;}
  65%{top:55px; left:-10%;}
  90%{top:-10px; left:-10%;}
  100%{top:-10px;left:10%;}
  }

@keyframes borderRotationBottom {
  0%{bottom:-10px right:10%;}
  25%{bottom:-10px; right:90%;}
  35%{bottom:60px; right:90%;}
  65%{bottom:60px; right:-10%;}
  90%{bottom:-10px; right:-10%;}
  100%{bottom:-10px; right:20%;}
}
